@model ViewModel

@if (Model?.Errors?.Any() ?? false)
{
    @foreach (var error in Model.Errors)
    {
        <div class="alert alert-danger" role="alert">
            <span>@error</span>
        </div>
    }

}

@if (Model?.Successes?.Any() ?? false)
{
    @foreach (var success in Model.Successes)
    {
        <div class="alert alert-success" role="alert">
            <span>@success</span>
        </div>
    }
}