@model BillPay

<div>
    <table>
        <tr>
            <th>PayeeID</th>
            <th>Name</th>
        </tr>
        @foreach(var Payee in Model.n)
        {
            
        }
    </table>

</div>