@model List<Account>

<h2>Select Account:</h2>

<table class="table">
    <thead>
        <tr>
            <th>Account Number</th>
            <th>Account Type</th>
            <th>Balance</th>
            <th>BillPay</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in Model)
        {
                <tr>
                    <td>@account.AccountNumber</td>
                    <td>@account.AccountType</td>
                <td>@string.Format("${0:0.00}", account.Balance)</td>
                <td> <a class="btn btn-primary" asp-controller="BillPay" asp-action="Edit" asp-route-id="@account.AccountNumber">Select</a></td>
                </tr>
        }
    </tbody>
</table>

<div>
    <a asp-controller="Customers" asp-action="Index">Back to Customer List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
